<nav class="navbar navbar-expand-lg navbar-dark">
    
<a id="rounded" class="navbar-brand m-3" href="/">Hello
<img src="img/hello.png" alt=""> </a>
<a class="navbar-brand" href="#">{{title}}</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> </button>

<div class="collapse bg-info navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
 {{#if user}}
 <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>

 {{else}}
    <li class="nav-item active p-3">
        <a class="nav-link" href="/about">About <span class="sr-only">(current)</span><img class="ml-5" id="wink" src="img/wink.png" alt=""> </a>
    </li>
    <li class="nav-item p-3">
        <a class="nav-link" href="/contact">Contact</a>    </li> 
{{/if}}

    </ul>
    
</div>
</nav>