<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">

            <img src="https://graph.facebook.com/v5.0/{{user.facebook}}/picture?height=400" class="card-img-top"
                alt="...">
            <p>{{log user.photos}}</p>
            <div class="card-body">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <h5 class="card-title">{{user.fullname}}</h5>
        <p class="card-text">{{user.email}}</p>
    </div>
</div>